@import "variables"
= FirstBlock
  font-size: 14px
  padding: 7px 10px
  display: inline-block
  margin-bottom: 0
  text-transform: uppercase
.img
  background-position: 50% 50%
  background-size: cover
  background-repeat: no-repeat
.nav-bar
  background: #212121
  .navbar-nav
    li
      border-right: 2px dashed #000000
    a
      span
        color: #FFFFFF
        display: block
        font-weight: 200
.div-p__position
  color: #222
  font-size: 17px
  font-style: normal
  font-weight: 400
.figure-init_contact
  background: rgba(0, 0, 0, .5)
  position: absolute
  right: 0
  left: 0
  z-index: 100
  color: #fff
  .figure-init__row
   min-height: 84px
  .figure-init_contact__font100
    color: #FFF
    font-size: 13px
    font-style: normal
    font-weight: 100

  .figure-init_contact__font200
    color: #FFF
    text-align: right
    font-size: 12px
    font-style: normal
    font-weight: 300
  .figure-init_contact__fontSize
    color: #FFF
    text-align: center
    font-size: 22px
    font-style: normal
    font-weight: 400
    text-transform: uppercase
.figure-init
  height: 800px
  color: #fff
  .figure-init_content
    height: 100%
    p:first-of-type
      margin-bottom: 40px
      color: #FFF
      text-align: center
      font-size: 18px
      font-style: normal
      font-weight: 400
    p:last-of-type
      margin-bottom: 120px
      color: #FFF
      text-align: center
      font-size: 18px
      font-style: normal
      font-weight: 400
    .content-h1H3
      color: #FFF
      text-align: center
      font-size: 60px
      font-style: normal
      font-weight: 900
      line-height: 24px
      text-transform: uppercase
      margin-bottom: 25px
      h1
        font-size: 48px
      h3
        font-size: 24px
        margin-bottom: 0
.btn
  height: 50px
  width: auto
  font-size: 13px
  padding: 14px 22px
  background: #55B7CF
  color: #fff
  text-transform: uppercase
  text-shadow: 1px 1px gray
  box-shadow: 0 3px #1998B0
.text-center .img-circle
  background: #0c5460
.div-figure__radius
  color: white
  background: #20ACC7
  border-radius: 50%
  display: flex
  width: 100px
  height: 100px
  justify-content: center
  align-items: center
  margin: auto
  i
    font-size: 50px
.div-first1
  @include FirstBlock
  background: #000000
  color: #FFFFFF
.div-first2
  @include FirstBlock
  background: #FFFFFF
  color: #000000
.main-block
  padding: 20px 0
  h2
    color: #222
    font-size: 38px
    font-style: normal
    font-weight: 700
    line-height: 48px
    text-transform: uppercase
.div-figure
  min-height: 280px
  .figure-figcaption__position
    padding: 0 15px
    color: #fff
    top: 0
    bottom: 0
    right: 0
    left: 0
    h3
      color: #FFF
      text-align: center
      font-size: 24px
      font-style: normal
      font-weight: 400
      text-transform: uppercase
    a
      width: 29px
      height: 29px
      border-radius: 50%
      background: #000
      margin: 0 auto
      line-height: 29px




.section__backgroundBlock
  color: #FFFFFF
  background: #000000
  height: 502px
  h2
    color: #fff
.section-div__height
  height: 397px
.div-h4__decoration
  color: #1EACC7
  font-size: 17px
  font-style: normal
  font-weight: 400
  line-height: 21px
.div-p__decoration
  color: #202020
  font-size: 15px
  font-style: normal
  font-weight: 300
  line-height: 21px
.div-row-figure__height
  height: 480px
  background-size: contain
  left: 0
  right: 0
.div__colorBlue
  color: #1AA8C3
.div__colorRed
  color:  #FF5756



.ul-li__before
  li
    color: #222
    font-size: 17px
    font-style: normal
    font-weight: 300
    line-height: 24px




.figure-last-block
  height: 720px
  color: #fff
  h2
    font-size: 48px
  a
    color: #1FBAD6
    font-size: 15px
    font-style: normal
    font-weight: 400
    text-transform: uppercase
  .figure-div__height
     min-height: 720px
.footer-hr__decoration
  text-align: center
  width: 240px
  border: 2px solid #1EBAD7
.footer-img-height
  width: 295px
  height: 27px
.footer-figure__background
  width: 32px
  height: 32px
  color: #FFFFFF
  background: #000000
  border-radius: 50%
  img
    width: 20px
    height: 32px


.footer-div__position
  left: 25px
  top: 30px
.footer-div__position2
  right: 25px
  top: 30px




@media all and (max-width: 990px)




































