@import "variables"
@font-face
  font-family: roboto
  src: url('src/шрифты/Roboto/Roboto-Black.ttf') format("truetype")

*
  font-family: 'roboto', sans-serif
  max-width: 100%
figure
  margin: 0 0
= FirstBlock
  font-size: 14px
  padding: 7px 10px
  display: inline-block
  margin-bottom: 0
  text-transform: uppercase
.figcaption-h1__decoration
  font-size: 60px
  color: #FFF
  text-align: center
  font-family: 'Roboto' , sans-serif
  font-style: normal
  font-weight: 900
  text-transform: uppercase
  margin-bottom: 15px
.figcaption-h3__decoration
  margin-bottom: 25px
  color: #FFF
  font-family: 'Roboto', sans-serif
  font-size: 36px
  font-style: normal
  font-weight: 700
  text-transform: uppercase

.img
  background-position: 50% 50%
  background-size: cover
  background-repeat: no-repeat
.nav-bar
  background: #212121
  .navbar-nav
    li
      border-right: 2px dashed #000000
    a
      color: #fff
      font-family: 'Roboto', sans-serif
      font-size: 15px
      font-style: normal
      font-weight: 300
      padding: 10px 0
      text-align: center
      display: block
.div-p__position
  color: #222
  font-size: 17px
  font-style: normal
  font-weight: 400
.figure-init_contact
  background: rgba(0, 0, 0, .5)
  position: absolute
  right: 0
  left: 0
  z-index: 100
  color: #fff
  .figure-init__row
   min-height: 84px
  .figure-init_contact__font100
    color: #FFF
    font-family: 'Roboto', sans-serif
    font-size: 13px
    font-style: normal
    font-weight: 100
  .figure-init_contact__font200
    color: #FFF
    font-family: 'Roboto', sans-serif
    text-align: right
    font-size: 12px
    font-style: normal
    font-weight: 300
  .figure-init_contact__fontSize
    color: #FFF
    font-family: 'Roboto', sans-serif
    text-align: center
    font-size: 22px
    font-style: normal
    font-weight: 400
    text-transform: uppercase
.figure-init
  height: 800px
  color: #fff
  .figure-init_content
    height: 800px

    p:first-of-type
      margin-bottom: 40px
      color: #FFF
      font-family: 'Roboto', sans-serif
      text-align: center
      font-size: 18px
      font-style: normal
      font-weight: 400
      line-height: 24px
    p:last-of-type
      margin-bottom: 120px
      color: #FFF
      font-family: 'Roboto', sans-serif
      text-align: center
      font-size: 18px
      font-style: normal
      font-weight: 400
      line-height: 24px
.colorWhite
  color: #fff
.btn2
  width: auto
  font-size: 18px
  padding: 14px 22px
  background: #55B7CF
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
  color: #fff
  text-transform: uppercase
  box-shadow: 0 3px #1998B0
  font-family: 'Roboto', sans-serif
  font-weight: 400
.btn1
  width: auto
  text-align: center
  height: 40px
  line-height: 40px
  font-size: 13px
  padding: 0
  background: #55B7CF
  color: #fff
  text-transform: uppercase
  text-shadow: 1px 1px gray
  box-shadow: 0 3px #1998B0
  border-radius: 3px
.btn1:hover
  color: #fff
  text-decoration: none
.div-first__height
  min-height: 180px
.text-center .img-circle
  background: #0c5460
.div-figure__radius
  color: white
  display: flex
  width: 100px
  height: 100px
  justify-content: center
  align-items: center
  margin: auto
  i
    font-size: 50px
.div-first1
  @include FirstBlock
  background: #000000
  color: #FFFFFF
.div-first2
  @include FirstBlock
  background: #FFFFFF
  color: #000000
.main-block
  min-height: 140px
  h2
    color: #222
    font-size: 38px
    font-style: normal
    font-weight: 700
    text-transform: uppercase
    font-family: 'Roboto' , sans-serif
    line-height: 48px
.main-block1
  min-height: 205px
  h2
    color: #222
    font-size: 32px
    font-style: normal
    font-weight: 700
    text-transform: uppercase
    font-family: 'Roboto' , sans-serif
    line-height: 48px



.div-figure
  min-height: 280px
  .figure-figcaption__position
    padding: 0 15px
    color: #fff
    top: 0
    bottom: 0
    right: 0
    left: 0
    h3
      color: #FFF
      text-align: center
      font-size: 24px
      font-style: normal
      font-weight: 400
      text-transform: uppercase
      font-family: 'Roboto' , sans-serif
    a
      width: 24px
      height: 24px
      margin: 0 auto
      border-radius: 50%
      background-size: initial




.section__backgroundBlock
  color: #FFFFFF
  background: #000000
  height: 502px
  h2
    color: #fff
.section-div__height
  height: 397px
.div-h4__decoration
  color: #1EACC7
  font-size: 17px
  font-style: normal
  font-weight: 400
  line-height: 21px
.div-p__decoration
  color: #202020
  font-size: 15px
  font-style: normal
  font-weight: 300
  line-height: 21px
.div-row-figure__height
  height: 480px
  background-size: contain
  left: 0
  right: 0

.div__colorBlue
  color: #1AA8C3
.div__colorRed
  color:  #FF5756

.ul-li__before
  li
    color: #222
    font-size: 17px
    font-style: normal
    font-weight: 300
    line-height: 24px
    justify-content: right
.figure-last-block
  height: 720px
  color: #fff
  h2
    font-size: 48px
  a
    color: #1FBAD6
    font-size: 15px
    font-style: normal
    font-weight: 400
    text-transform: uppercase
  .figure-div__height
     min-height: 720px
.footer-hr__decoration
  text-align: center
  width: 240px
  border: 2px solid #1EBAD7
footer
  a
    color: black

.footer-img-height
  width: 295px
  height: 27px
.footer-figure__background
  width: 32px
  height: 32px
  color: #FFFFFF
  background: #000000
  border-radius: 50%
  img
    width: 20px
    height: 32px


.footer-div__position1
  top: 30px
  left: 20px
.footer-div__position2
  top: 30px
  right: 20px
@media all and (max-width: 1200px)
  .figcaption-h1__decoration
    font-size: 48px
  .figcaption-h3__decoration
    font-size: 32px
  .nav-bar .navbar-nav a
    font-size: 12px


@media all and (max-width: 995px)
  .main-block
    h2
      font-size: 32px
  .main-block1
    h2
      font-size: 32px
  .footer-div__position1, .footer-div__position2
    top: 130px
    left: 10px
    right: 10px
  .footer-div__position2
    top: 180px

  .figcaption-h1__decoration
    font-size: 42px
  .figcaption-h3__decoration
    font-size: 30px
  .nav-bar
    .navbar-nav
      li
        a
          font-size: 9px

@media all and (max-width: 800px)
  .figure-init
    .figure-init_content
      p:last-of-type
        margin-bottom: 20px
  .main-block
    h2
      font-size: 26px
  .main-block1
    h2
      font-size: 26px
@media all and (max-width: 767px)
  .nav-bar
    .navbar-nav
      li
        border-right: none
        a
          font-size: 14px
  .main-block
    h2
      font-size: 23px
  .main-block1
    h2
      font-size: 23px

@media all and (max-width: 700px)
  .figcaption-h1__decoration
    font-size: 36px
  .figcaption-h3__decoration
    font-size: 24px

@media all and (max-width: 560px)
  .main-block
    h2
      font-size: 20px
  .main-block1
    h2
      font-size: 20px



































